{% extends 'main.html' %}
{% block custom_style %}
<style>
    input:not([type="submit"])
    {
        min-width: 24rem;
        width: 100%;
        padding: 1.2rem 1.5rem;
        border-radius: 0.5rem;
        border: 2px solid var(--color-light);
        transition: all 0.3s ease-in-out;
        background-color: var(--color-bg);
    }

    input:not([type="submit"]):focus
    {
        outline: none;
        border: 2px solid var(--color-main);
    }
</style>
{% endblock %}
{% block content %}
<div class="auth">
    <div class="card">
        {% if form != None %}
        <div class="auth__header text-center">
            <h3>Enter new password</h3>
            <p>Please enter your new password twice so we can verify you typed it in correctly.</p>
        </div>

        <form class="form auth__form" method="POST">
            {% csrf_token %}
            {{ form }}
            <div class="auth__actions">
                <input class="btn btn--sub btn--lg" type="submit" value="change my password" />
            </div>
        </form>
        {% else %}
        <div class="auth__header text-center">
            <h3>token has been end</h3>
        </div>
        {% endif %}
    
    </div>
</div>
{% endblock %}